*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
 text-align: center;
 text-shadow: 1px 3px 4px;
 color: #fd6060;
 font-family: Georgia, 'Times New Roman', Times, serif;
 margin: 10px 10px;
}
body{
    background-color: rgb(208, 247, 247);
}
.pr{
    
    border-radius: 6px;
    box-sizing: 20px;
    width: 25%;
    border-color: rgb(159, 121, 194);
    margin: 30px 49px ;
    padding: 15px 15px;
    letter-spacing: 1px;
    display: inline-block
    
}
 .BUTON1{
        border: 0;
        background-color: rgb(184, 130, 235);
        padding: 10px 30px;
        border-radius: 8px
        
        
    }
    .BUTON2{
         background-color: rgb(241, 239, 237);
         padding: 10px 30px ;
         border-radius: 10px;
         border: 0;
    }
    .BUTON10{
        background-color: rgb(2, 61, 2);
         padding: 10px 30px ;
         border-radius: 10px;
         border: 0;
    }

